<table class="key">
    <tr class="upkey">
        <td [ngClass]="(leftNote != undefined)?'black-k':'white-k sborderleft'"><div [ngClass]="(activeLeft)?'active-key-' + lcolor:''">&nbsp;</div></td>
        <td class="center-k{{ccolor}}"></td>
        <td [ngClass]="(rightNote != undefined)?'black-k':'white-k sborderright'"><div [ngClass]="(activeRight)?'active-key-' + rcolor:''">&nbsp;</div></td>
    </tr>
    <tr class="downkey">
        <td colspan="3" class="white-key">
            <mat-icon [ngClass]="'color-' + ccolor">{{activeIcon}}</mat-icon>
        </td>
    </tr>
</table>