<table class="key">
    <tr class="upkey">
        <td [ngClass]="(leftNote != undefined)?'black-k sborderleft':'white-k sborderleft'"><div [ngClass]="(activeLeft)?'active-key':''">&nbsp;</div></td>
        <td class="center-k"></td>
        <td [ngClass]="(rightNote != undefined)?'black-k sborderright':'white-k sborderright'"><div [ngClass]="(activeRight)?'active-key':''">&nbsp;</div></td>
    </tr>
    <tr class="downkey">
        <td colspan="3" class="white-key">
            <mat-icon>{{activeIcon}}</mat-icon>
        </td>
    </tr>
</table>