.fretNote{
    color: black;    
}

.fretNotePressed{
    z-index: 1;
}

.polpastrello-pressed{
    transform: scale(0.8);
    color: red;
}

.polpastrello-tonic{
    transform: scale(0.8);
    color: blue;
}

.string {
    width: 100%;
    height: 0;
    border-bottom: 1px solid black;
    float: left;
    margin: 0;
    z-index: 0;
    position: relative;
    top: 50%;
    left:0;
}