.guitarDiagram{
    width: 760px;
    background-color: #ffffff;
}

.guitarDiagram td {
    //border-style: solid;
    border-width: 1px;
    //border-color: #eeeeee;
    border-left-style: dotted;
    border-left-color: black;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
}

.fretNumberRow{
    font-size: 10px;
    text-align: center;
}