<table class="guitarDiagram">
    <tr>
        <td>E</td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
    </tr>
    <tr>
        <td>B</td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
    </tr>
    <tr>
        <td>G</td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
    </tr>
    <tr>
        <td>D</td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
    </tr>
    <tr>
        <td>A</td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
    </tr>
    <tr>
        <td>E</td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
    </tr>
    <tr class="fretNumberRow">
        <td>#</td>
        <td>F</td>
        <td>&nbsp;</td>
        <td>G</td>
        <td>&nbsp;</td>
        <td>A</td>
        <td>&nbsp;</td>
        <td>B</td>
        <td>C</td>
        <td>&nbsp;</td>
        <td>D</td>
        <td>&nbsp;</td>
        <td>E</td>
        <td>F</td>
        <td>&nbsp;</td>
        <td>G</td>
        <td>&nbsp;</td>
        <td>A</td>
        <td>&nbsp;</td>
        <td>B</td>
        <td>C</td>
        <td>&nbsp;</td>
        <td>D</td>
    </tr>
</table>