<table class="guitarDiagram">
    <tr class="fretNumberRow">
        <td>#</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>
    <tr>
        <td>E</td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
    </tr>
    <tr>
        <td>B</td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
    </tr>
    <tr>
        <td>G</td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
    </tr>
    <tr>
        <td>D</td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
    </tr>
    <tr>
        <td>A</td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
    </tr>
    <tr>
        <td>E</td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
        <td><app-guitar-fret></app-guitar-fret></td>
    </tr>
</table>