.guitarDiagram{
    width: 760px;
}

.guitarDiagram td {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
}

.fretNumberRow{
    font-size: 10px;
    text-align: center;
}