<table class="guitarDiagram">
    <tr>
        <td class="nut"><app-open-string #apopennote note="E"></app-open-string></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
    </tr>
    <tr>
        <td class="nut"><app-open-string #apopennote note="B"></app-open-string></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
    </tr>
    <tr>
        <td class="nut"><app-open-string #apopennote note="G"></app-open-string></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
    </tr>
    <tr>
        <td class="nut"><app-open-string #apopennote note="D"></app-open-string></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
    </tr>
    <tr>
        <td class="nut"><app-open-string #apopennote note="A"></app-open-string></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
    </tr>
    <tr>
        <td class="nut"><app-open-string #apopennote note="E"></app-open-string></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Eb;D#" fretNoteView="Eb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="E"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="F#;Gb" fretNoteView="F#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="G#;Ab" fretNoteView="G#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="A"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="Bb;A#" fretNoteView="Bb"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="B"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="C#;Db" fretNoteView="C#"></app-guitar-fret></td>
        <td><app-guitar-fret #apfret fretNote="D"></app-guitar-fret></td>
    </tr>
    <tr class="fretNumberRow">
        <td class="nut">#</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>