<table class="keyboard">
    <tr>
        <td><app-key #apkey note="C" rightNote="C#"></app-key></td>
        <td><app-key #apkey leftNote="C#" note="D" rightNote="Eb"></app-key></td>
        <td><app-key #apkey leftNote="Eb" note="E"></app-key></td>
        <td><app-key #apkey note="F" rightNote="F#"></app-key></td>
        <td><app-key #apkey leftNote="F#" note="G" rightNote="G#"></app-key></td>
        <td><app-key #apkey leftNote="G#" note="A" rightNote="Bb"></app-key></td>
        <td><app-key #apkey leftNote="Bb" note="B"></app-key></td>
        <td><app-key #apkey note="C" rightNote="C#"></app-key></td>
        <td><app-key #apkey leftNote="C#" note="D" rightNote="Eb"></app-key></td>
        <td><app-key #apkey leftNote="Eb" note="E"></app-key></td>
        <td><app-key #apkey note="F" rightNote="F#"></app-key></td>
        <td><app-key #apkey leftNote="F#" note="G" rightNote="G#"></app-key></td>
        <td><app-key #apkey leftNote="G#" note="A" rightNote="Bb"></app-key></td>
        <td><app-key #apkey leftNote="Bb" note="B"></app-key></td>
    </tr>
</table>