<table class="keyboard">
    <tr>
        <td><app-key #apkey note="C" rightNote="C#;Db"></app-key></td>
        <td><app-key #apkey leftNote="C#;Db" note="D" rightNote="Eb;D#"></app-key></td>
        <td><app-key #apkey leftNote="Eb;D#" note="E"></app-key></td>
        <td><app-key #apkey note="F" rightNote="F#;Gb"></app-key></td>
        <td><app-key #apkey leftNote="F#;Gb" note="G" rightNote="G#;Ab"></app-key></td>
        <td><app-key #apkey leftNote="G#;Ab" note="A" rightNote="Bb;A#"></app-key></td>
        <td><app-key #apkey leftNote="Bb;A#" note="B"></app-key></td>
        <td><app-key #apkey note="C" rightNote="C#;Db"></app-key></td>
        <td><app-key #apkey leftNote="C#;Db" note="D" rightNote="Eb;D#"></app-key></td>
        <td><app-key #apkey leftNote="Eb;D#" note="E"></app-key></td>
        <td><app-key #apkey note="F" rightNote="F#;Gb"></app-key></td>
        <td><app-key #apkey leftNote="F#;Gb" note="G" rightNote="G#;Ab"></app-key></td>
        <td><app-key #apkey leftNote="G#;Ab" note="A" rightNote="Bb;A#"></app-key></td>
        <td><app-key #apkey leftNote="Bb;A#" note="B"></app-key></td>
    </tr>
</table>