<table class="keyboard">
    <tr>
        <td><app-key note="C" rightNote="C#"></app-key></td>
        <td><app-key leftNote="C#" note="D" rightNote="Eb"></app-key></td>
        <td><app-key leftNote="Eb" note="E"></app-key></td>
        <td><app-key note="F" rightNote="F#"></app-key></td>
        <td><app-key leftNote="F#" note="G" rightNote="G#"></app-key></td>
        <td><app-key leftNote="G#" note="A" rightNote="Bb"></app-key></td>
        <td><app-key leftNote="Bb" note="B"></app-key></td>
        <td><app-key note="C" rightNote="C#"></app-key></td>
        <td><app-key leftNote="C#" note="D" rightNote="Eb"></app-key></td>
        <td><app-key leftNote="Eb" note="E"></app-key></td>
        <td><app-key note="F" rightNote="F#"></app-key></td>
        <td><app-key leftNote="F#" note="G" rightNote="G#"></app-key></td>
        <td><app-key leftNote="G#" note="A" rightNote="Bb"></app-key></td>
        <td><app-key leftNote="Bb" note="B"></app-key></td>
    </tr>
</table>